root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  # Build with debug symbols and run with delve
  args_bin = []
  bin = "./tmp/main"
  cmd = "go build -gcflags='all=-N -l' -o ./tmp/main ./cmd/finops"
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "testdata", "charts", "docs", "migrations", "scripts"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  # Run with delve debugger
  full_bin = "dlv exec --accept-multiclient --continue --headless --listen=:2345 --api-version=2 --log ./tmp/main -- api --config /app/config.yaml --seed-demo"
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html", "yaml"]
  include_file = []
  kill_delay = "2s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = []
  rerun = false
  rerun_delay = 500
  send_interrupt = true
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true

